.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #705edc;
}
.about-links{
    display: flex;
    margin-bottom: 4rem;
    padding: 0;
    
}

.about-links a{
    background: #6957d0;
    width: 50%;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
    transition: 0.3s ease;
}
.about-links a:hover{
    background-color: #5945ca;
}
.about-links li{
    list-style: none;
}
.desc{
    border-bottom-right-radius: 18px;
    border-right: 1px solid#5b4abe;
}
.qual{
    border-bottom-left-radius: 18px;
    border-left: 1px solid#5b4abe;
}
